:root{
   --green:orange;
   --black:rgb(247, 238, 238);
   --white:#fff;
   --bg-color:rgb(123, 123, 120);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid var(--black);
   background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)),url(image/z.jpg);

}
*{
   
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
   color:var(--black);
   transition: all .2s linear;
   

}

/*-------------------------------------------------------------time--------------------------------------------------------------------*/


html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
   
}

section{
   padding:3rem 2rem;
   max-width: 1200px;
   margin:0 auto;
}

.disabled{
   user-select: none;
   pointer-events: none;
   opacity: .5;
}
.message{
   display: block;
   background: var(--bg-color);
   padding:1.5rem 1rem;
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-align: center;
}
.container{
   max-width: 1200px;
   padding:2rem;
   margin:0 auto;
}

.admin-product-form-container.centered{
   display: flex;
   align-items:center;
   justify-content: right;
   min-height: 100vh;
    
}



.admin-product-form-container form{
   max-width: 50rem;
   margin:0 auto;
   padding:2rem;
   border-radius: .5rem;
   margin-right:60rem;
}

.admin-product-form-container form label{
  
  color:wheat;
  margin-left:-8rem;
  margin-top:15rem;
  margin-bottom: 5rem;
  padding: 2rem;
  font-size: 2.8rem;
}

.admin-product-form-container form h3{
  color:rgb(255, 255, 255);
   margin-bottom: 2rem;
   margin-top: 3rem;
   text-align:20rem;
   font-size: 2.5rem;
}

.admin-product-form-container form h3 span{
   text-transform: uppercase;
   background:wheat;
   color:rgb(0, 0, 0);
   display: inline-block;
   padding:.5rem 3rem;
   clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
   border:3px solid rgb(255, 255, 255);

}

.admin-product-form-container form .box{
  margin-top: 3rem;
   width: 100%;
   border-radius: .5rem;
   padding:1.2rem 1.5rem;
   font-size: 1.7rem;
   margin:1rem 0;
   background: rgb(252, 252, 252);
   color: black;
   text-transform: none;
}
.admin-product-form-container form .box1{
  width: 100%;
  border-radius: .5rem;
  
  font-size: 1.7rem;
  margin:1rem 0;
  margin-left:60rem;
  margin-top:-15rem;

  color: black;
  text-transform: none;
}
.admin-product-form-container form .box2{
   width: 100%;
   border-radius: .5rem;
   
   font-size: 1.7rem;
   margin:1rem 0;
   margin-left:60rem;
   margin-top:-9.5rem;
 
   color: black;
   text-transform: none;
}

.admin-product-form-container form .btn{
  width: 100%;
  border-radius: .5rem;
  padding:1.2rem 1rem;
  font-size: 1.7rem;
  margin:1rem 0;
  margin-left:25rem;
  color: black;
  text-transform: none;

}
.admin-product-form-container form a .opt-btn{
  width: 100%;
  border-radius: .5rem;
  padding:1.2rem 1rem;
  font-size: 1.7rem;
  margin:1rem 0;
  margin-left:25rem;
  color: black;
  text-transform: none;
  background: darkred;
}
.admin-product-form-container form .btn:hover{
 background:lightblue;
  color: rgb(51, 50, 50);
  transition: 2s;
 
}

.admin-product-form-container form .box option{
    width: 100%;
    border-radius: .5rem;
    padding:1.2rem 1.5rem;
    font-size: 1.7rem;
    margin:1rem 0;
    background: rgb(255, 255, 255);
    color: black;
    text-transform: none;
 }
